<!DOCTYPE html>
<html lang="ru">
	{% load static %}
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="preconnect" href="https://fonts.gstatic.com">
	<link rel="preconnect" href="https://fonts.gstatic.com">
	<link href="https://fonts.googleapis.com/css2?family=PT+Mono&display=swap" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css" />
	<link rel="stylesheet" href="{% static 'css/main.min.css' %}">
	<title>NOVUS</title>

	

</head>
<body>

    <div class="wrapper-col">
       
		<h1>PDF to JPG</h1>

		<form method="post" class="download" enctype="multipart/form-data">
			{% csrf_token %}
			<input type="file" name="fidedrop_1" id="">
			<div class="drop_zone">
				<div>
					<span class="drop_zone_desc">Для загрузки, перетащите файл сюда.</span>
				</div>
			</div>

			<p class="download_title">Загружено:</p>
			<ul class="download_list">

				

			</ul>

			<button class="btn" type="submit">Отправить</button>

			{% if uploaded_file_url %}
				<p>File uploaded at: <a href="{{ uploaded_file_url }}">{{ uploaded_file_url }}</a></p>
			{% endif %}

		</form>

		

    </div>

    <script src="{% static 'js/scripts.min.js' %}"></script>
</body>

</html>